[package]
name = "lanczos-audio-resampler"
version = "0.1.0"
edition = "2024"

[dev-dependencies]
arbitrary = "1.4.2"
arbtest = "0.3.2"
criterion = "0.7.0"
paste = "1.0.15"
rand = "0.9.2"

[lints.rust]
#missing_docs = "warn"

[lints.clippy]
unwrap_used = "deny"
missing_safety_doc = "deny"
undocumented_unsafe_blocks = "deny"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[bench]]
name = "lanczos_kernel"
harness = false
